// Inspiration
// http://codepen.io/Jeremboo/pen/avKJBO
// http://inconvergent.net/shepherding-random-numbers/
<p class="f"><a target="_blank" href="http://www.jeremieboulay.fr">@Jeremboo</a><br /> ┗|｀O´|┛</p>
