/* Its online experiment - apsolut */

canvas {
  display: block;
   -moz-opacity:0.2; /* For older FF versions */
   -khtml-opacity:0.2;
   opacity:0.2;
   filter:alpha(opacity=20);
}

body {
 background:#000 url('https://s22.postimg.org/rwc2acgj5/image.jpg');
}

@font-face{
	font-family: 'MarvinVisions';
	src: url('fonts/MarvinVisions-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/MarvinVisions-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    	url('fonts/MarvinVisions-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}
*{
	box-sizing: border-box;
}
html,
body{
	margin: 0;
	padding: 0;
}
div.header{
	position: absolute;
	top:0;
	left:0;
	display:inline-block;
	width: 100%;
	height: 1250px;
	text-align: center;
	/*background-color: rgba(5,5,5,1);*/
}
h1{
	font-family: 'MarvinVisions';
	color:antiquewhite;
	font-size: 154px;
	margin-bottom:0;
}
h2{
	display: inline-block;
	font-family: 'Helvetica';
	font-size: 50px;
	font-stretch: a;
	color: aquamarine;
	margin-top:-20px;
	overflow: hidden;
}
h2 span{
	display: inline-block;
	width:25px;
	color:transparent;
}
.canvas {
	position: absolute;
	top:0;
	left:0;
}